@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* Navigation Bar Styling */
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: "Ubuntu", sans-serif;
    /* background-color: crimson; */
    transition: all 0.3s ease;
}
.navbar.sticky {
    padding: 15px 0;
    background-color: crimson;
}
.navbar  .logo span.showgames {
    color: #fff;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span {
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
    color: #fff;
}
.navbar.sticky .menu li:hover a{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li:hover a {
    color: crimson;
}
/* home-section-styling */
.home {
    display: flex;
    background: url("images/banner.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: "Ubuntu", sans-serif;
}
.home .max-width {
    margin: auto 0 auto 40px;
    
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0 ;
}
.home .max-width .discover-box {
    margin-top: 30px;
}
.home .max-width .discover-box a{
    padding: 16px;
    font-size: 21px;
    background-color: crimson;
    border-radius: 6px;
    color: #fff;
}
.home .max-width .discover-box a:hover {
    background-color: rgba(220, 20, 60, 0.8);
}